/* Home Component Styling */
.baritems {
    text-align: center;
    padding: 20px;
  }
  
  .heading{
    background-image: repeating-linear-gradient(to right, #a2682a 0%, #be8c3c 8%, #be8c3c 18%, #d3b15f 27%, #faf0a0 35%, #ffffc2 40%, #faf0a0 50%, #d3b15f 58%, #be8c3c 67%, #b17b32 77%, #bb8332 83%, #d4a245 88%, #e1b453 93%, #a4692a 100%);
  /* background-size: 100%; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* font-size: 20px; */
  font-weight: bold;
  font-family: "Yantramanav";
  filter: drop-shadow(0 0 1px rgba(255, 200, 0, .3));
  animation: MoveBackgroundPosition 6s ease-in-out infinite;
  }

  /* Image Carousel Styles */
  .image-carousel {
    width: 100%;
    max-width: 800px; /* Set max width for large screens */
    margin: 0 auto;
  }
  
  .image-carousel img {
    width: 100%; /* Full width within the carousel container */
    max-height: 400px; /* Restrict max height to keep image proportions */
    object-fit: contain; /* Display the full image without cropping */
    border-radius: 10px;
    margin: 0 auto;
  }
  
  /* Quote Carousel Styles */
  .quote-carousel {
    max-width: 700px;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    color: white;
  }
  
  /* Responsive Styles */
  @media (min-width: 1200px) {
    .image-carousel {
      width: 60%;
    }
  
    .quote-carousel {
      width: 80%;
    }
  }
  
  @media (max-width: 768px) {
    .image-carousel {
      width: 100%;
    }
  
    .image-carousel img {
      width: 100%; /* Ensure full image width on smaller screens */
      max-height: 350px; /* Adjust max height for smaller screens */
      object-fit: contain; /* Ensure the image is fully visible without cropping */
      transform: scale(0.9);
  }
  
    .quote-carousel {
      width: 90%;
    }
  }
  